# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.gradle/
/.idea/
/classes/
/gradlew
/frame-oms/build/
/frame-oms/out/
/build/
/dm-dto/build/
/frame-api/build/
/modules/build/
/modules/core/build/
/modules/model/build/
/modules/service/build/
